<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="remote1">Remote1</a></li>
  <li><a routerLink="remote2">Remote2</a></li>
  <li><a routerLink="remote3">Remote3</a></li>
  <li><a routerLink="remote4">Remote4</a></li>
  <li><a routerLink="remote5">Remote5</a></li>
  <li><a routerLink="remote6">Remote6</a></li>
  <li><a routerLink="remote7">Remote7</a></li>
  <li><a routerLink="remote8">Remote8</a></li>
  <li><a routerLink="remote9">Remote9</a></li>
  <li><a routerLink="remote10">Remote10</a></li>
  <li><a routerLink="remote11">Remote11</a></li>
  <li><a routerLink="remote12">Remote12</a></li>
  <li><a routerLink="remote13">Remote13</a></li>
  <li><a routerLink="remote14">Remote14</a></li>
  <li><a routerLink="remote15">Remote15</a></li>
  <li><a routerLink="remote16">Remote16</a></li>
  <li><a routerLink="remote17">Remote17</a></li>
  <li><a routerLink="remote18">Remote18</a></li>
  <li><a routerLink="remote19">Remote19</a></li>
  <li><a routerLink="remote20">Remote20</a></li>
  <li><a routerLink="remote21">Remote21</a></li>
  <li><a routerLink="remote22">Remote22</a></li>
  <li><a routerLink="remote23">Remote23</a></li>
  <li><a routerLink="remote24">Remote24</a></li>
  <li><a routerLink="remote25">Remote25</a></li>
  <li><a routerLink="remote26">Remote26</a></li>
  <li><a routerLink="remote27">Remote27</a></li>
  <li><a routerLink="remote28">Remote28</a></li>
  <li><a routerLink="remote29">Remote29</a></li>
  <li><a routerLink="remote30">Remote30</a></li>
  <li><a routerLink="remote31">Remote31</a></li>
  <li><a routerLink="remote32">Remote32</a></li>
  <li><a routerLink="remote33">Remote33</a></li>
  <li><a routerLink="remote34">Remote34</a></li>
  <li><a routerLink="remote35">Remote35</a></li>
  <li><a routerLink="remote36">Remote36</a></li>
  <li><a routerLink="remote37">Remote37</a></li>
  <li><a routerLink="remote38">Remote38</a></li>
  <li><a routerLink="remote39">Remote39</a></li>
  <li><a routerLink="remote40">Remote40</a></li>
  <li><a routerLink="remote41">Remote41</a></li>
  <li><a routerLink="remote42">Remote42</a></li>
  <li><a routerLink="remote43">Remote43</a></li>
  <li><a routerLink="remote44">Remote44</a></li>
  <li><a routerLink="remote45">Remote45</a></li>
  <li><a routerLink="remote46">Remote46</a></li>
  <li><a routerLink="remote47">Remote47</a></li>
  <li><a routerLink="remote48">Remote48</a></li>
  <li><a routerLink="remote49">Remote49</a></li>
  <li><a routerLink="remote50">Remote50</a></li>
  <li><a routerLink="remote51">Remote51</a></li>
  <li><a routerLink="remote52">Remote52</a></li>
  <li><a routerLink="remote53">Remote53</a></li>
  <li><a routerLink="remote54">Remote54</a></li>
  <li><a routerLink="remote55">Remote55</a></li>
  <li><a routerLink="remote56">Remote56</a></li>
  <li><a routerLink="remote57">Remote57</a></li>
  <li><a routerLink="remote58">Remote58</a></li>
  <li><a routerLink="remote59">Remote59</a></li>
  <li><a routerLink="remote60">Remote60</a></li>
  <li><a routerLink="remote61">Remote61</a></li>
  <li><a routerLink="remote62">Remote62</a></li>
  <li><a routerLink="remote63">Remote63</a></li>
  <li><a routerLink="remote64">Remote64</a></li>
  <li><a routerLink="remote65">Remote65</a></li>
  <li><a routerLink="remote66">Remote66</a></li>
  <li><a routerLink="remote67">Remote67</a></li>
  <li><a routerLink="remote68">Remote68</a></li>
  <li><a routerLink="remote69">Remote69</a></li>
  <li><a routerLink="remote70">Remote70</a></li>
  <li><a routerLink="remote71">Remote71</a></li>
  <li><a routerLink="remote72">Remote72</a></li>
  <li><a routerLink="remote73">Remote73</a></li>
  <li><a routerLink="remote74">Remote74</a></li>
  <li><a routerLink="remote75">Remote75</a></li>
  <li><a routerLink="remote76">Remote76</a></li>
  <li><a routerLink="remote77">Remote77</a></li>
  <li><a routerLink="remote78">Remote78</a></li>
  <li><a routerLink="remote79">Remote79</a></li>
  <li><a routerLink="remote80">Remote80</a></li>
  <li><a routerLink="remote81">Remote81</a></li>
  <li><a routerLink="remote82">Remote82</a></li>
  <li><a routerLink="remote83">Remote83</a></li>
  <li><a routerLink="remote84">Remote84</a></li>
  <li><a routerLink="remote85">Remote85</a></li>
  <li><a routerLink="remote86">Remote86</a></li>
  <li><a routerLink="remote87">Remote87</a></li>
  <li><a routerLink="remote88">Remote88</a></li>
  <li><a routerLink="remote89">Remote89</a></li>
  <li><a routerLink="remote90">Remote90</a></li>
  <li><a routerLink="remote91">Remote91</a></li>
  <li><a routerLink="remote92">Remote92</a></li>
  <li><a routerLink="remote93">Remote93</a></li>
  <li><a routerLink="remote94">Remote94</a></li>
  <li><a routerLink="remote95">Remote95</a></li>
  <li><a routerLink="remote96">Remote96</a></li>
  <li><a routerLink="remote97">Remote97</a></li>
  <li><a routerLink="remote98">Remote98</a></li>
  <li><a routerLink="remote99">Remote99</a></li>
  <li><a routerLink="remote100">Remote100</a></li>
</ul>
<router-outlet></router-outlet>
